<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Raf.B2B.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Raf.B2B.Properties.Settings>
            <setting name="Raf_B2B_ByteEnrolSvc_ByteRafWS" serializeAs="String">
                <value>http://192.168.2.118:8080/ByteRAFWS/ByteRafWS</value>
            </setting>
        </Raf.B2B.Properties.Settings>
    </applicationSettings>
</configuration>